@model List<MvcStok.DAL.TBLKATEGORILER>
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<form class="form-group" method="post" action="@Url.Action("UrunEkle","URUN")">
    <div style="margin-top:10px;">
        <label>Ürün Adı</label>
        <input class="form-control" type="text" name="ProductName" required maxlength="15" />
    </div>
    <div>
        <label>Markası</label>
        <input class="form-control" type="text" name="ProductBrand" required maxlength="15" />
    </div>
    <div>
        <label>Kategori </label>
        <div>
            <select class="select2 form-control custom-select" style="width: 100%; height:36px;" name="ProductCategory">
                @foreach (var item in Model)
                {
                    <option value="@item.KATEGORIID">@item.KATEGORIAD</option>
                }
            </select>
        </div>
    </div>
    @*<div>
                <label>Kategori Seçiniz</label>
                @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new { @class="form-control",nameof ="ProductCategory"})
        </div>*@
    <div>
        <label>Fiyatı</label>
        <input class="form-control" type="text" name="ProductPrice" required maxlength="15" />
    </div>
    <div>
        <label>Stok Adet</label>
        <input class="form-control" type="text" name="ProductStock" required maxlength="15" />
    </div>
    <div style="margin-top:5px;">
        <button class="btn btn-info">
            Ürün Ekle
        </button>
    </div>
</form>
